<div class="card-header border-0">
    <ul class="nav nav-pills card-header-pills nav-fill" id="pills-tab" role="tablist">
        <li class="nav-item d-grid" role="presentation">
            <button class="btn active btn-outline-dark shadow-none" id="login-pill" data-bs-toggle="pill"
                data-bs-target="#login" type="button" role="pill">Login</button>
        </li>
        <li class="nav-item d-grid" role="presentation">
            <button class="btn btn-outline-dark btn-block shadow-none" id="signup-pill" data-bs-toggle="pill"
                data-bs-target="#signup" type="button" role="pill">Signup</button>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="login" role="tabpanel">
        <div class="card-body">
            <h3 class="card-title">Login</h3>
            <form action="/" method="POST" class="needs-validation" novalidate>
                <div class="form-row d-flex justify-content-center my-4">
                    <div class="col-8">
                        <input type="username" class="form-control" placeholder="Username" name="username" required>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center my-4">
                    <div class="col-8">
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center my-4">
                    <div class="col-8">
                        <button type="submit" class="btn btn-block btn-outline-dark">Login</button>
                    </div>
                </div>
            </form>

            <hr class="mt-4" />

            <div class="col-12 d-flex justify-content-center">
                <a href="/auth/google" class="col-6 btn btn-outline-danger btn-lg ms-auto" role="button">
                    <i class="fab fa-google fa-lg"></i>
                    <i class="fas fa-plus fa-lg"></i>
                </a>
                <form action="/" method="POST" class="col-6 d-flex ms-auto">
                    <input type="hidden" class="form-control" placeholder="Username" name="username" value="Guest">
                    <input type="hidden" class="form-control" placeholder="Password" name="password" value="guest">
                    <button type="submit" class="col-12 btn btn-block btn-outline-dark">Skip
                        Login</button>
                </form>
            </div>

        </div>
    </div>

    <div class="tab-pane" id="signup" role="tabpanel">
        <div class="card-body">
            <h3 class="card-title">Signup</h3>
            <form action="/" method="POST" class="needs-validation" novalidate>
                <div class="form-row d-flex justify-content-center my-4">
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Username" name="username" required>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center my-4">
                    <div class="col-8">
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                            required>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center my-4">
                    <div class="col-8">
                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password"
                            name="confirm_password" required>
                        <div class="invalid-feedback">
                            Passwords do not match!
                        </div>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-center my-4">
                    <div class="col-8">
                        <button type="submit" class="btn btn-block btn-outline-dark">Signup</button>
                    </div>
                </div>
            </form>

            <hr class="mt-4" />

            <a href="/auth/google" class="btn btn-outline-danger btn-lg" role="button">
                <i class="fab fa-google fa-lg"></i>
                <i class="fas fa-plus fa-lg"></i>
            </a>
        </div>
    </div>
</div>