<div class="card-header">Blog-Review</div>
<div class="card-body">
    <h3 class="card-title">Login/Signup</h3>
    <p class="card-text">Login or Signup to Blog-Review using Gmail</p>
    <a href="/auth/google" class="btn btn-outline-danger btn-lg" role="button">
        <i class="fab fa-google fa-lg"></i>
        <i class="fas fa-plus fa-lg"></i>
    </a>
</div>