<h3>Write your review!</h3>
<div class="row">
    <form action="/review" method="POST" class="col s12">
        <div class="col">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="col">
            <div class="input-field">
                <h5>Content:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="col">
            <input type="submit" value="Save" class="btn">
            <a href="/home" class="btn">Cancel</a>
        </div>
    </form>
</div>